# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*/db.sqlite3
*/db.sqlite3-journal
media/

# Environment variables
.env

# Static files
staticfiles/
*/staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/
env/

# Azure deployment
.azure/

# Git
.git/
